<?xml version="1.0" encoding="utf-8"?>

<!--
   Copyright 2017 University of Michigan

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<configuration>
  <configSections>
    <section name="yokogawasvc" type="YokogawaService.YokogawaServiceConfigSection, YokogawaService" />
  </configSections>

  <yokogawasvc folderPath="C:\yokogawa" serviceUrl="http://127.0.0.1:23032" headerPattern="\[Liters\] - Max$" />

  <connectionStrings>
    <add name="YokogawaData" connectionString="Server=*****;Database=*****;User Id=*****;Password=*****" />
  </connectionStrings>

  <appSettings>
    <add key="cors:Origins" value="*" />
    <add key="cors:Headers" value="*" />
    <add key="cors:Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>